{% extends "authcustom/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'authcustom/css/style.css' %}">
{% endblock %}

{% block navitens %}
  {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class='btn btn-danger btn-sm' style="border-radius: 20px; padding: 0.175rem 1.25rem;">LOGOUT</a>
  {% else %}
    <a href="." class='btn btn-primary' style="border-radius: 20px; padding: 0.375rem 1.75rem;">SIGN UP</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="text-center" style="margin-top:40px">
  {% if user.is_authenticated %}
    <h1 class="h3 font-weight-normal">You are logged in <span class="text-info">{{ user.first_name }}</span></h1>

  {% else %}
    <form id="form" class="form" method="post">
      
      {% csrf_token %}
      
      <h1 class="h3 font-weight-normal">LOGIN</h1>

      {% for message in messages %}
        <p id="alert" class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <span style="font-weight:bold">{{ message }}</span>
        </p>
      {% endfor %}

      {{ form.errors }}

      <label for="id_email" class="sr-only">Your Professional Email</label>
      {% render_field form.email class+="form-control no-border-bottom-radius" placeholder="Your Email" %}

      <label for="id_password" class="sr-only">Password</label>
      {% render_field form.password class+="form-control no-border-top-radius" placeholder="Your Password" style="margin-bottom:10px" %}
      
      <button class="btn btn-lg btn-success btn-block" type="submit" name="login">Login</button>
    </form>
  {% endif %}
</div>
{% endblock %}

{% block js %}
  <script>
  console.log('ok');
    window.setTimeout(function() {
      $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
      });
    }, 3000);
  </script>
{% endblock %}

